# DB
POSTGRESQL_DB_IP=
POSTGRESQL_DB_PORT=
POSTGRESQL_DB_USERNAME=
POSTGRESQL_DB_PASSWORD=

# SPRING BOOT
SPRING_SECURITY_USERNAME=
SPRING_SECURITY_PASSWORD=

# JWT
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRATION_MS=
JWT_REFRESH_TOKEN_EXPIRATION_MS=


